* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: 
  linear-gradient(to bottom,
  #009688 0px,
  #009688  15vh,
  #dddbd1 15vh,
  #dddbd1 100%);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.debug {
  background-color: rgba(95, 158, 160, .5);
  border:1px solid black;
  min-height: 100px;
}

.active {
  background-color:rgb(233, 235, 235);
}


.background-top {
  background-color: rgb(0, 150, 136);
  height: 150px;
}



/* left side */

.chat-container {
  display: flex;
  width: 80%;
  height: 800px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.messages-top {
  height: 70px;
  display: flex;
  background-color: rgb(234, 234, 234);
  padding: 10px;
  justify-content: space-between;
}

.user-info {
  display: flex;
}

.messages-top img {
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.messages-top p {
  padding-left: 5px;
  align-self: center;
}

.messages-top .icons {
  display: flex;
}

.messages-top .icons i {
  color: rgb(177, 177, 177);
  align-self: center;
  padding-left: 20px;
  cursor: pointer;

}


.get-notifications {
  padding: 10px;
  display: flex;
  background-color: rgb(142, 218, 252);
}

.get-notifications i {
  color:rgb(142, 218, 252) ;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
}

.get-notifications p:last-child {
  text-decoration: underline;
  color: rgb(88, 130, 150);
}


.get-notifications p:last-child:hover {
  cursor: pointer;
}

.text-wrapper {
  padding: 10px;
}
.searchbar {
  background-color:  rgb(250, 250, 250);
  padding: 5px;
  display: flex;
  position: relative;
}

.searchbar i {
  color: rgb(177, 177, 177);
  position: absolute;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid grey;
  cursor: pointer;
}

.searchbar input {
  width: 100%;
  height: 40px;
  padding-left: 50px;
  border-radius: 3px;
  border-style: none;
  outline: none;
}

.all-chats {
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}

.all-chats  img {
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.contact-chat-card {
  display: flex;
  position: relative;
  padding: 10px;
}

.contact-chat-card span {
  color:rgb(192, 194, 195);

  position: absolute;
  top: 10px;
  right: 10px;
}

.contact-chat-card:hover {
  background-color:rgb(233, 235, 235);
}

.contact-chat-card p:last-child {
  color:rgb(192, 194, 195);
}


/* right side */

.selected-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.selected-chat-top {
  height: 70px;
  display: flex;
  background-color: rgb(234, 234, 234);
  padding: 5px;
  justify-content: space-between;
}

.selected-chat-top .user-info img {
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.selected-chat-top p:last-child {
  color:rgb(192, 194, 195);
}


.selected-chat-top .icons {
  display: flex;
}

.selected-chat-top .icons i {
  color: rgb(177, 177, 177);
  align-self: center;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.current-chat {
  background-image: url(img/mine.jpg);
  height: calc(100% - 120px);
  position: relative;
}

.message-wrapper {
  height: 100%;
  width: 100%;
  padding: 5% 10%;
}

.message{
  min-width: 30%;
  max-width: 60%;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding: 10px;
  margin: 5px 10px;
  clear: both;
}
.message.sent {
  float: right;
  background-color: rgb(213, 249, 187);
  border-radius: 5px;
}

.message.received {
  float: left
}

.selected-chat-btm {
  background-color: rgb(234, 234, 234);
  padding: 5px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.selected-chat-btm i {
  padding: 20px;
  color: rgb(107, 115, 118);
  cursor: pointer;
}

.selected-chat-btm input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  border-style: none;
  outline: none;
}



